body {
    direction: rtl;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

h2, h4 {
    margin: 15px 0;
}

h4 {
    color: #555;
}

h5 {
    margin: 0 0 15px 0;
    color: #555;
}

.ltr{
    direction: ltr;
}

.parameter-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
    width: 360px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    padding-left: 38px;
}

.parameter-line {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.selector {
    margin-top: 10px;
    height: 40px;
    flex-grow: 1;
    padding-left: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 7px;
    background-color: white;
    text-align: end;
}

.yellow {
    background:#ffcc00;
    border-radius: 5px;
    color:#2c2c2c;
    width: fit-content;
    padding-inline: 10px;
    padding-block: 2px;
    font-weight: normal;
    font-size: small;
}

label {
    font-size: 0.8em;
    margin-left: 8px;
    flex-grow: 1;
    text-align: left;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    padding-right: 60px;
}

#verse {
    height: 150px;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 5px #ddd;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.textbox {
    margin-top: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 7px;
}

#submit_btn {
    height: 40px;
    margin: 10px 0;
    background-color: #72bda3;
    box-shadow: 1px 1px 5px #ddd;
    color: #111;
    border: none;
    border-radius: 7px;
}

#submit_btn:hover {
    background-color: #51a789;
    box-shadow: 1px 1px 10px #bbb;
    cursor: pointer;
}

#submit_btn:active {
    background-color: #358368;
}

#loading-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-spinner {
    width: 40px;
    height: 40px;
    border: 6px solid #35af85;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 600px) {
    #wrapper {
        padding-right: 20px;
    }
    h2 {
        font-size: larger;
    }
    h4 {
        font-size: medium;
    }
     h5 {
        font-size: small;
     }
  }