<Html>
    <Head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ManshoorAI
    </title>
    <link rel="stylesheet" href="/static/style.css" />
    </Head>
    <Body>
        <div id="loading-wrapper">
            <div id="loading-spinner"></div>
            <p style="color: #111;">لطفا صبور باشید</p>
        </div>
        <div id="wrapper">
            <h2>هوش منشور</h2>
            <h4>چند کلمه فارسی وارد کن و اجازه بده هوش منشور، شعر رو ادامه بده!</h4>
            <h5 class="yellow">آموزش داده شده روی اشعار سهراب</h5>
            <div class="parameter-wrapper">
                <p style="font-size: 0.8em; padding-right: 20px; text-align: center;">پارامترهای مدل</p>
                <div class="parameter-line">
                    <label for="seq-len-txt">طول رشته خروجی:</label>
                    <input type="number" id="seq-len-txt" class="textbox ltr" placeholder="طول متن خروجی" value="25"/>
                </div>
                <div class="parameter-line">
                    <label for="k-param">متد تولید خروجی:</label>
                    <select class="selector" id="method-select">
                        <option>Greedy</option>
                        <option>Random Sampling</option>
                        <option>Top K</option>
                    </select>
                </div>
                <div class="parameter-line">
                    <label for="k-param">پارامتر K:</label>
                    <input type="number" id="k-param" class="textbox ltr" placeholder="پارامتر K" value="10"/>
                </div>
            </div>
            <textarea id="verse" disabled></textarea>
            <input type="text" class="textbox" id="sample_verse" placeholder="یک متن نمونه وارد کنید"/>
            <button id="submit_btn">بساز</button>
            <h5>این یه پروژه تفریحیه، خروجی‌ها رو جدی نگیرید :)</h5>
            <div style="display: flex;">
                <svg height="25" aria-hidden="true" width="25" style="padding-left: 5px;">
                    <path d="M12.5.75C6.146.75 1 5.896 1 12.25c0 5.089 3.292 9.387 7.863 10.91.575.101.79-.244.79-.546 0-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014 1.553.834 1.769 1.179 1.035 1.74 2.688 1.25 3.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678 0-1.25.445-2.285 1.178-3.09-.115-.288-.517-1.467.115-3.048 0 0 .963-.302 3.163 1.179.92-.259 1.897-.388 2.875-.388.977 0 1.955.13 2.875.388 2.2-1.495 3.162-1.179 3.162-1.179.633 1.581.23 2.76.115 3.048.733.805 1.179 1.825 1.179 3.09 0 4.413-2.688 5.39-5.247 5.678.417.36.776 1.05.776 2.128 0 1.538-.014 2.774-.014 3.162 0 .302.216.662.79.547C20.709 21.637 24 17.324 24 12.25 24 5.896 18.854.75 12.5.75Z"></path>
                </svg>
                <a href="https://github.com/Rahiminia" target="_blank">گیت‌هاب من</a>
            </div>
            <div id="faq-container">
                <h3>سوالات رایج</h3>
                <div class="faq-item" onclick="(function (e) { e.classList.toggle('open') })(thisz)">
                    <p class="question">چرا خروجی‌ها اکثراً بی‌معنا هستند؟</p>
                    <p class="answer">در قدم اول پروژه، از مدلی برپایه LSTM استفاده شده است که به اندازه مدل‌های برپایه Attention (که امروزه مبنای مدل‌های بزرگ زبانی است) توانایی درک روابط بین کلمات را ندارد. بنابراین نباید انتظار خروجی‌های معنی‌دار و ساختار یکپارچه از این مدل داشت.</p>
                </div>
                <div class="faq-item" onclick="(function (e) { e.classList.toggle('open') })(thisz)">
                    
                    <p class="question">قدم بعدی چیست؟</p>
                    <p class="answer">برای ادامه پروژه، استفاده از مدل‌های Transformer را در نظر داریم. استفاده از یک مدل زبانی کوچک که بر اساس داده‌های زبان فارسی آموزش دیده به عنوان مدل پایه‌ای و Fine-Tune کردن آن براساس اشعار نوی شاعران چون سهراب سپهری، فروغ فرخزاد و اخوان ثالث، به عنوان ایده بعدی است که به زودی پیاده‌سازی خواهم کرد.</p>
                </div>
                <div class="faq-item" onclick="(function (e) { e.classList.toggle('open') })(thisz)">
                    <p class="question">چرا شعر نو؟</p>
                    <p class="answer">از آنجا که درک ساختار پیچیده قافیه، قالب  و وزن عروضی برای مدل‌های برپایه LSTM دشوار است و این ساختار، توانایی کمی در زمینه نگه‌داری حافظه دارد، تولید شعر عروضی با مدل فعلی ناممکن بود. بنابراین بهترین گزینه، شعر نو بود که برای قدم اول انتخاب شده است.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/index.js"></script>
    </Body>
</Html>